-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: apple_store
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anhsp`
--

DROP TABLE IF EXISTS `anhsp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anhsp` (
  `MaAnh` int NOT NULL AUTO_INCREMENT,
  `DuongDanLuuAnh` varchar(250) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  `MaSP` int DEFAULT NULL,
  PRIMARY KEY (`MaAnh`),
  KEY `MaSP` (`MaSP`),
  CONSTRAINT `anhsp_ibfk_1` FOREIGN KEY (`MaSP`) REFERENCES `sanpham` (`MaSP`)
) ENGINE=InnoDB AUTO_INCREMENT=138 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anhsp`
--

LOCK TABLES `anhsp` WRITE;
/*!40000 ALTER TABLE `anhsp` DISABLE KEYS */;
/*!40000 ALTER TABLE `anhsp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bienthe`
--

DROP TABLE IF EXISTS `bienthe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bienthe` (
  `MaBienThe` int NOT NULL AUTO_INCREMENT,
  `TenBienThe` varchar(100) DEFAULT NULL,
  `SoLuongTonKho` int DEFAULT NULL,
  `GiaTienBienThe` decimal(13,2) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  `TinhTrangHoatDong` smallint DEFAULT NULL,
  `DuongDanAnhBienThe` varchar(250) DEFAULT NULL,
  `MaSP` int DEFAULT NULL,
  PRIMARY KEY (`MaBienThe`),
  KEY `MaSP` (`MaSP`),
  CONSTRAINT `bienthe_ibfk_1` FOREIGN KEY (`MaSP`) REFERENCES `sanpham` (`MaSP`)
) ENGINE=InnoDB AUTO_INCREMENT=289 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bienthe`
--

LOCK TABLES `bienthe` WRITE;
/*!40000 ALTER TABLE `bienthe` DISABLE KEYS */;
/*!40000 ALTER TABLE `bienthe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donhang`
--

DROP TABLE IF EXISTS `donhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donhang` (
  `MaDonHang` int NOT NULL AUTO_INCREMENT,
  `MaTaiKhoan` int DEFAULT NULL,
  `NgayDat` datetime DEFAULT NULL,
  `TinhTrangDonHang` smallint DEFAULT NULL,
  `TongTien` decimal(13,2) DEFAULT NULL,
  `PhuongThucThanhToan` varchar(50) DEFAULT NULL,
  `TinhTrangThanhToan` smallint DEFAULT '0' COMMENT '0: Ch╞░a thanh to├ín, 1: ─É├ú thanh to├ín',
  PRIMARY KEY (`MaDonHang`),
  KEY `MaTaiKhoan` (`MaTaiKhoan`),
  CONSTRAINT `donhang_ibfk_1` FOREIGN KEY (`MaTaiKhoan`) REFERENCES `taikhoan` (`MaTaiKhoan`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donhang`
--

LOCK TABLES `donhang` WRITE;
/*!40000 ALTER TABLE `donhang` DISABLE KEYS */;
/*!40000 ALTER TABLE `donhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donhangchitiet`
--

DROP TABLE IF EXISTS `donhangchitiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donhangchitiet` (
  `MaDonHangChiTiet` int NOT NULL AUTO_INCREMENT,
  `MaDonHang` int DEFAULT NULL,
  `MaBienThe` int DEFAULT NULL,
  `SoLuongSanPham` int DEFAULT NULL,
  `GiaTienCuaSanPham` decimal(13,2) DEFAULT NULL,
  PRIMARY KEY (`MaDonHangChiTiet`),
  KEY `MaDonHang` (`MaDonHang`),
  KEY `MaBienThe` (`MaBienThe`),
  CONSTRAINT `donhangchitiet_ibfk_1` FOREIGN KEY (`MaDonHang`) REFERENCES `donhang` (`MaDonHang`),
  CONSTRAINT `donhangchitiet_ibfk_2` FOREIGN KEY (`MaBienThe`) REFERENCES `bienthe` (`MaBienThe`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donhangchitiet`
--

LOCK TABLES `donhangchitiet` WRITE;
/*!40000 ALTER TABLE `donhangchitiet` DISABLE KEYS */;
/*!40000 ALTER TABLE `donhangchitiet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giatribienthe`
--

DROP TABLE IF EXISTS `giatribienthe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giatribienthe` (
  `MaBienThe` int NOT NULL,
  `MaThongSoBienTheMau` int NOT NULL,
  `GiaTriHienThi` varchar(60) DEFAULT NULL,
  `GiaTriNhap` varchar(50) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  PRIMARY KEY (`MaBienThe`,`MaThongSoBienTheMau`),
  KEY `MaThongSoBienTheMau` (`MaThongSoBienTheMau`),
  CONSTRAINT `giatribienthe_ibfk_1` FOREIGN KEY (`MaBienThe`) REFERENCES `bienthe` (`MaBienThe`),
  CONSTRAINT `giatribienthe_ibfk_2` FOREIGN KEY (`MaThongSoBienTheMau`) REFERENCES `thongsobienthemau` (`MaThongSoBienTheMau`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giatribienthe`
--

LOCK TABLES `giatribienthe` WRITE;
/*!40000 ALTER TABLE `giatribienthe` DISABLE KEYS */;
/*!40000 ALTER TABLE `giatribienthe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giatrithongso`
--

DROP TABLE IF EXISTS `giatrithongso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giatrithongso` (
  `MaSP` int NOT NULL,
  `MaThongSoMau` int NOT NULL,
  `GiaTriHienThi` varchar(60) DEFAULT NULL,
  `GiaTriNhap` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`MaSP`,`MaThongSoMau`),
  KEY `MaThongSoMau` (`MaThongSoMau`),
  CONSTRAINT `giatrithongso_ibfk_1` FOREIGN KEY (`MaSP`) REFERENCES `sanpham` (`MaSP`),
  CONSTRAINT `giatrithongso_ibfk_2` FOREIGN KEY (`MaThongSoMau`) REFERENCES `thongsomau` (`MaThongSoMau`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giatrithongso`
--

LOCK TABLES `giatrithongso` WRITE;
/*!40000 ALTER TABLE `giatrithongso` DISABLE KEYS */;
/*!40000 ALTER TABLE `giatrithongso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giohangchitiet`
--

DROP TABLE IF EXISTS `giohangchitiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giohangchitiet` (
  `MaTaiKhoan` int NOT NULL,
  `MaBienThe` int NOT NULL,
  `SoLuong` int DEFAULT NULL,
  `ThoiGianThem` datetime DEFAULT NULL,
  PRIMARY KEY (`MaTaiKhoan`,`MaBienThe`),
  KEY `MaBienThe` (`MaBienThe`),
  CONSTRAINT `giohangchitiet_ibfk_1` FOREIGN KEY (`MaTaiKhoan`) REFERENCES `taikhoan` (`MaTaiKhoan`),
  CONSTRAINT `giohangchitiet_ibfk_2` FOREIGN KEY (`MaBienThe`) REFERENCES `bienthe` (`MaBienThe`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giohangchitiet`
--

LOCK TABLES `giohangchitiet` WRITE;
/*!40000 ALTER TABLE `giohangchitiet` DISABLE KEYS */;
/*!40000 ALTER TABLE `giohangchitiet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loaisanpham`
--

DROP TABLE IF EXISTS `loaisanpham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loaisanpham` (
  `MaLoai` int NOT NULL AUTO_INCREMENT,
  `TenLoai` varchar(100) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  `TinhTrangLoaiSanPham` smallint DEFAULT NULL,
  PRIMARY KEY (`MaLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loaisanpham`
--

LOCK TABLES `loaisanpham` WRITE;
/*!40000 ALTER TABLE `loaisanpham` DISABLE KEYS */;
INSERT INTO `loaisanpham` VALUES (1,'iPhone',1,1),(2,'iPad',2,1),(3,'MacBook',3,1),(4,'AirPods',4,1),(5,'Phß╗Ñ kiß╗çn',5,1);
/*!40000 ALTER TABLE `loaisanpham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sanpham`
--

DROP TABLE IF EXISTS `sanpham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sanpham` (
  `MaSP` int NOT NULL AUTO_INCREMENT,
  `Ten` varchar(100) DEFAULT NULL,
  `MoTa` varchar(255) DEFAULT NULL,
  `TinhTrangSanPham` smallint DEFAULT NULL,
  `MaLoai` int DEFAULT NULL,
  PRIMARY KEY (`MaSP`),
  KEY `MaLoai` (`MaLoai`),
  CONSTRAINT `sanpham_ibfk_1` FOREIGN KEY (`MaLoai`) REFERENCES `loaisanpham` (`MaLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sanpham`
--

LOCK TABLES `sanpham` WRITE;
/*!40000 ALTER TABLE `sanpham` DISABLE KEYS */;
/*!40000 ALTER TABLE `sanpham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taikhoan`
--

DROP TABLE IF EXISTS `taikhoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taikhoan` (
  `MaTaiKhoan` int NOT NULL AUTO_INCREMENT,
  `Gmail` varchar(100) NOT NULL,
  `ClerkID` varchar(200) DEFAULT NULL,
  `TenDayDu` varchar(100) DEFAULT NULL,
  `SoDienThoai` varchar(13) DEFAULT NULL,
  `DiaChi` varchar(255) DEFAULT NULL,
  `Quyen` smallint DEFAULT NULL,
  `TinhTrangTaiKhoan` smallint DEFAULT NULL,
  PRIMARY KEY (`MaTaiKhoan`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taikhoan`
--

LOCK TABLES `taikhoan` WRITE;
/*!40000 ALTER TABLE `taikhoan` DISABLE KEYS */;
INSERT INTO `taikhoan` VALUES (1,'ngocthangchien@gmail.com','user_35Q7oO1J3XEBwhAWjmEdrjDDbip','Ngß╗ìc Thß║»ng','0123456789','55 T├óy L├ón haha',1,1);
/*!40000 ALTER TABLE `taikhoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongsobienthemau`
--

DROP TABLE IF EXISTS `thongsobienthemau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongsobienthemau` (
  `MaThongSoBienTheMau` int NOT NULL AUTO_INCREMENT,
  `TenThongSoBienThe` varchar(100) DEFAULT NULL,
  `DonVi` varchar(10) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  `TinhTrangThongSoBienThe` smallint DEFAULT NULL,
  `MaLoai` int DEFAULT NULL,
  PRIMARY KEY (`MaThongSoBienTheMau`),
  KEY `MaLoai` (`MaLoai`),
  CONSTRAINT `thongsobienthemau_ibfk_1` FOREIGN KEY (`MaLoai`) REFERENCES `loaisanpham` (`MaLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongsobienthemau`
--

LOCK TABLES `thongsobienthemau` WRITE;
/*!40000 ALTER TABLE `thongsobienthemau` DISABLE KEYS */;
INSERT INTO `thongsobienthemau` VALUES (1,'M├áu sß║»c','',1,1,1),(2,'Dung l╞░ß╗úng','GB',2,1,1),(3,'M├áu sß║»c','',1,1,2),(4,'Kß║┐t nß╗æi','',2,1,2),(5,'Dung l╞░ß╗úng','GB',3,1,2),(6,'RAM','GB',1,1,3),(7,'ß╗ö cß╗⌐ng SSD','GB',2,1,3),(8,'M├áu sß║»c','',3,1,3),(9,'M├áu sß║»c','',1,1,1),(10,'Dung l╞░ß╗úng','GB',2,1,1),(11,'M├áu sß║»c','',1,1,2),(12,'Kß║┐t nß╗æi','',2,1,2),(13,'Dung l╞░ß╗úng','GB',3,1,2),(14,'RAM','GB',1,1,3),(15,'ß╗ö cß╗⌐ng SSD','GB',2,1,3),(16,'M├áu sß║»c','',3,1,3);
/*!40000 ALTER TABLE `thongsobienthemau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongsomau`
--

DROP TABLE IF EXISTS `thongsomau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongsomau` (
  `MaThongSoMau` int NOT NULL AUTO_INCREMENT,
  `TenThongSo` varchar(100) DEFAULT NULL,
  `DonVi` varchar(10) DEFAULT NULL,
  `ThuTuHienThi` int DEFAULT NULL,
  `TinhTrangThongSoMau` smallint DEFAULT NULL,
  `MaLoai` int DEFAULT NULL,
  PRIMARY KEY (`MaThongSoMau`),
  KEY `MaLoai` (`MaLoai`),
  CONSTRAINT `thongsomau_ibfk_1` FOREIGN KEY (`MaLoai`) REFERENCES `loaisanpham` (`MaLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongsomau`
--

LOCK TABLES `thongsomau` WRITE;
/*!40000 ALTER TABLE `thongsomau` DISABLE KEYS */;
/*!40000 ALTER TABLE `thongsomau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongtinthanhtoanonline`
--

DROP TABLE IF EXISTS `thongtinthanhtoanonline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongtinthanhtoanonline` (
  `MaThongTinThanhToanOnline` int NOT NULL AUTO_INCREMENT,
  `MaDonHang` int DEFAULT NULL,
  `SoTienThanhToan` decimal(13,2) DEFAULT NULL,
  `TinhTrangThanhToan` smallint DEFAULT NULL,
  `MaGiaoDich` varchar(100) DEFAULT NULL,
  `ThoiDiemThanhToan` datetime DEFAULT NULL,
  PRIMARY KEY (`MaThongTinThanhToanOnline`),
  KEY `fk_thanhtoan_donhang` (`MaDonHang`),
  CONSTRAINT `fk_thanhtoan_donhang` FOREIGN KEY (`MaDonHang`) REFERENCES `donhang` (`MaDonHang`),
  CONSTRAINT `thongtinthanhtoanonline_ibfk_1` FOREIGN KEY (`MaDonHang`) REFERENCES `donhang` (`MaDonHang`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongtinthanhtoanonline`
--

LOCK TABLES `thongtinthanhtoanonline` WRITE;
/*!40000 ALTER TABLE `thongtinthanhtoanonline` DISABLE KEYS */;
/*!40000 ALTER TABLE `thongtinthanhtoanonline` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-21 13:28:00
